    /* tr:nth-child(odd) {
            background-color: #FFFFFF;
        }

        tr:nth-child(even) {
            background-color: #f0f3f7;
        }

        /* .table2 {
            font-size: 14px;
            font-weight: bold;
            font-color: #E91E63;
        } */

    tr {

        font-weight: bold;
        height: 15px;
        vertical-align: middle;
    }

    tr.header>td {
        font-weight: bold;
        color: #4CAF50;
        height: 15px;
    }

    table.table2 td.col2 {
        text-align: left;
        width: 30%;
    }

    table.table2 td.col3 {
        text-align: right;
        width: 15%;
    }

    table.table2 td.col4 {
        text-align: right;
        width: 25%;
    }

    table.table2 td.col1 {
        width: 15%;
        text-align: left;
    }

    table.table2 td.col5 {
        width: 25%;
        text-align: right;
    }

    table.table2 td.colU {
        border-top: 0.1px solid #4CAF50;
    }

    .table-bordered tr.bodyarea td {
        vertical-align: middle;
        text-align: center;
        padding: 7px 0 7px 3px;
        font-size: 10px;
    }

    .table-bordered-custom tr.bodyarea td {
        vertical-align: middle;
        text-align: center;
        padding: 3px 3px 3px 3px;
        font-size: 10px;
    }

    p.line {
        font-size: 2px;
        font-weight: normal;
    }

    body {
        font-family: 'Times New Roman';
    }

    @page {
        size: auto;
        margin: 5mm;
        margin-top: 40mm;
    }

    .table {
        border-spacing: 0;
        border-collapse: collapse;
        font-family: Roboto;
        font-size: 12px;
    }

    .table-bordered {
        border: 1px solid #b1b1b1;
    }

    .table-bordered-custom {
        border: 1px solid #b1b1b1;
    }

    .table-bordered tbody tr td,
    .table-bordered tbody tr th,
    .table-bordered tfoot tr td,
    .table-bordered tfoot tr th,
    .table-bordered thead tr td,
    .table-bordered thead tr th,
    .table-bordered tr th,
    .table-bordered tr td {
        border: 1px solid #b1b1b1 !important;
    }

    .table-bordered tr.header td,
    .table-bordered tr.footer td {
        vertical-align: middle;
        text-align: center;
        padding: 5px 5px;
        font-weight: bold;
    }

    .table-bordered tr.bodyarea td {
        vertical-align: middle;
        text-align: center;
        padding: 7px 3px 7px 3px;
        font-size: 12px;
    }

    .table-bordered tr.linetr td {
        padding: 2px 0;
    }

    .table-top tr.header td {
        text-align: left;
        padding: 7px 0;
    }

    .table-top tr.header td span {
        font-weight: bold;
        font-size: 12px;
    }

    .table-top {
        margin-bottom: 15px;
    }

    .table-bordered tr.bodyarea td.t-right,
    .table-bordered tr.footer td.t-right {
        text-align: right !important;
    }

    .table-bordered tr.bodyarea td.t-left,
    .table-bordered tr.footer td.t-left {
        text-align: left !important;
    }

    .pad-bot-0 {
        padding-bottom: 0px !important;
    }

    .headerdiv {
        text-align: center;
        padding-bottom: 5px;
        display: block;
        font-family: Arial;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }

    .footerdiv {
        border-top: #000 1px solid;
        font-size: 9px;
        font-weight: bold;
        font-family: Arial;
    }

    .t-right {
        text-align: right !important;
    }

    .t-left {
        text-align: left !important;
    }

    .t-center {
        text-align: center !important;
    }

    @page {
        size: auto;
        margin: 10mm;
        margin-top: 10mm;
        margin-bottom: 0mm;
    }

    footer .pagenum:before {
        content: counter(page);
    }